---
// import Button from './Button.astro';
---
<div class="header" >
        <div class="frame-wrapper">
                <div class="frame">
                        <img class="unsplash" src="assets/walling-unsplash.jpg" alt="Software coding" />
                 </div>
                <div class="div">
                        <div class="header-text">
                                <img class="emoji-waving-hand" src="assets/🦆 emoji _waving hand sign.svg" alt="hand waving" />
                                <div class="text-scale">
                                        <div class="element">Michael, a Software Engineer</div>
                                </div>
                        </div>
                        <div class="text-scale-wrapper">
                                <div class="text-scale ">
                                        <div class="element">adeniyimichaelid@gmail.com</div>
                                </div>
                        </div>
                </div>
        
        </div>      
</div>
